<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/style.css">
  <title></title>
</head>
<body>
	<h1>We are the CSS to your HTML</h1>
	<img id="front" src="img/home.jpg">
</body>
</html>