<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Devvit</title>
  <link rel="apple-touch-icon" sizes="57x57" href="../img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="../img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="../img/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Gloria+Hallelujah" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
  <script src="/js/main.js"></script>
</head>
<body class="main">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	    	<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img class="pull-left logo" alt="Brand" src="../img/logo.png"></a>
	      <a class="navbar-brand" href="/">Devvit</a>
	      <% if @user %>
	      <a href="/post"><button type="button" class="btn btn-default navbar-btn pull-left">Feed ME™</button></a>
	      <a href="/account"><button type="button" class="btn btn-default navbar-btn pull-left">Profile</button></a>
	      <% end %>
	    </div>
	  	<% if @user %>
	    <a href="/signout"><button type="button" class="btn btn-default navbar-btn pull-right">Log out</button></a>
	    <% else %>
	    <a href="/signin"><button type="button" class="btn btn-default navbar-btn pull-right">Sign in</button></a>
	    <a href="/signup"><button type="button" class="btn btn-default navbar-btn pull-right">Sign up</button></a>
	  	<% end %>
	    <p class="navbar-text pull-right"><%= "Welcome, #{@user.username}?" if @user %> </p>
	  </div>
	</nav>
</body>
</html>
<%= yield %>
<footer>&copy; Devvit 1861-2016</footer>
<footer>All Rights Reserved.</footer>
