<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Devvit</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="js/main.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Devvit</a>
	    </div>
	    <button type="button" class="btn btn-default navbar-btn pull-right">Sign in</button>
	    <button type="button" class="btn btn-default navbar-btn pull-right">Sign up</button>
	    <p class="navbar-text pull-right">Signed in as Mark Otto</p>
	  </div>
	</nav>
</body>
</html>
<%= yield %>