<div class="col-md-12 text-center">
  <h1>Make an account</h1>
  <form method="POST" action="/signup">
    <label>E-mail</label><br/><input type="email" name="email" /><br/>
    <label>Username</label><br/><input name="username" /><br/>
    <label>Password</label><br/><input type="password" name="password" /><br/>
    <br/>
    <input type="submit" value="Create" />
  </form>
</div>

