	<h1 class="heading">We are the CSS to your HTML</h1>
	<img src="/img/home.jpg"/>

<h1 class="heading">This Devitter is</h1>
<div><img width="64px" src="<%= @user.gravatar_url %>" />
<br>
<h1 class="heading"><strong>Username: <%= @user.username %></strong>
<br>
<strong>
E-mail: <%= @user.email %></strong>
</div>
</h1>