	<h1 class="heading">We are the CSS to your HTML</h1>
	<br>
	<img src="/img/home.jpg"/>

<h1 class="info">This Devitter is</h1>
<div><img width="64px" src="<%= @user.gravatar_url %>" />
<br>
<h2 class="info">Username: <%= @view_user.username %>
<br>
E-mail: <%= @view_user.email %><
</div>
</h2>